---
 import Layout from "../../layouts/Layout.astro";
import Section from "../../components/Section.astro";
import PostCard from "../../components/PostCard.astro";
import Heading from "../../components/Heading.astro";
import { sortPostsByDate } from "../../utils/fecha.formato";
import BotonSimple from "../../components/BotonSimple.astro";
import Cta3 from "../../components/Cta3.astro";
import ListaProv from "../../components/ListaProv.astro";
 
 
 
 import { slugify } from "../../utils/AppConfig";

export async function getStaticPaths(){

  return [

  {
    params: {categoria: slugify("Seguridad")},
    props: {nombre: "Seguridad"},
  },
  {
    params: {categoria: slugify("Tutorial")},
    props: {nombre: "Tutorial"},
  },
  {
    params: {categoria: slugify("Guia")},
    props: {nombre: "Guia"},
  },
  {
    params: {categoria: slugify("Guias de Compra")},
    props: {nombre: "Guias De Compra"},
  },
  {
    params: {categoria: slugify("Noticias")},
    props: {nombre: "Noticias"},
  },
   
  ];
   
}

const {categoria} = Astro.params;
const {nombre} = Astro.props;
const allPosts = await Astro.glob("../guias-tutoriales/*.md"); 
const catPosts = allPosts.filter((post)=>slugify(post.frontmatter.categoria)===categoria);
catPosts.sort(sortPostsByDate);

---

<Layout
  metatitle={`Mira lo Nuevo En: ${nombre}`}
  metadescrip={`Publicaciones interesantes sobre: ${nombre}, explora todas las mejores publicaciones que tenemos para ti en esta categoría`}
  slug=`categoria/${slugify(nombre)}/`
  structuredData={{}}
>
  <Heading
    tituloencabezado={`Publicaciones sobre: ${nombre}`}
  />
  <Section>
    <div class="grid grid-flow-row md:grid-cols-3 gap-1">
      {
       catPosts.map((post: any) => (
          <div class="flex mb-4">
            <PostCard post={post} />
          </div>
        ))
      }
    </div>
    <div class="flex flex-col md:flex-row justify-between items-center gap-1">
      <Cta3>
        <ListaProv />
        <BotonSimple
        nombtnsimple="Busca proveedor en tu ciudad"
        urlbtnsimple="/internet-en/"
        targtebtnsimple=""
      />
      </Cta3>
    </div>
     
  </Section>
  
</Layout>