---
import { slugify } from "../utils/AppConfig";
import { formatDate } from "../utils/fecha.formato";

const { publicacionesAleatorias } = Astro.props;
---

{
  publicacionesAleatorias.map((post: any) => (
    <div class="mb-2 w-full p-4 shadow-md rounded-md ">
      {post.frontmatter.image.src ? <img src={post.frontmatter.image.src} alt={post.frontmatter.image.alt} class="w-full" /> : null}
      <h3 class=" ">
        {" "}
        <a href={`${post.url}/`}>{post.frontmatter.posttitle}</a>
      </h3>
      <p class="text-xs">{formatDate(post.frontmatter.pubDate)}</p>
    </div>
  ))
}
